.btn-closeModal {
    align-items: center;
    all: unset;
    background-color: #6E41E2;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 44px;
}
