.modal-overlay {
    background-color: #f2f2f2;
    border: none;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.modal-container {
    align-items: center;
    animation: fade-in .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    max-height: 314px;
    min-height: 246px;
    padding: 29px 25px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 481px;
    z-index: 999;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 500px) {
    .modal-container {
        width: 90%;
    }
}